body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
}

* {
    color: #ffffff;
    background-color: #000000;
}

#log-container {
    position: absolute;
    width: 100vw;
    height: 30vh;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    color: #00ff00;
    background-color: #222222;
}

#log {
    color: inherit;
    background-color: inherit;
}

#main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-areas: "names images" "labels images";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2em auto;
}

#datasets {
    grid-area: names;
}

#labels {
    grid-area: labels;
    overflow: scroll;
}

.label {
    font-size: 2em;
}

.label.active {
    background-color: #00ff00;
}

#images {
    grid-area: images;
}