body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
}

* {
    color: #ffffff;
    background-color: #000000;
}

#main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-areas: "names resize-bar images" "labels resize-bar images";
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 2em auto;
}

#resize-bar {
    grid-area: resize-bar;
    background-color: #00aa33;
}

#resize-bar:hover {
    cursor: ew-resize;
}

#datasets {
    grid-area: names;
}

#labels {
    grid-area: labels;
    overflow: scroll;
}

.label {
    border: solid 2px #aa0000;
    font-size: 2em;
}

.label.active {
    background-color: #0000aa;
}

.label.completed {
    border-color: #00ff00;
}

#images {
    grid-area: images;
    overflow: scroll;
}

#inspection-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .3);
}

#inspection-menu * {
    padding: 5px;
    font-size: 1em;
    white-space: nowrap;
    background-color: inherit;
    text-align: left;
}

#inspection-menu *:hover {
    background-color: rgba(0, 176, 51, .5);
}

.inspecting-image {
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 5px;
}

.invalid {
    border-color: #ff0000;
}

.selected-image {
    border-color: #00ff00;
}

#loading {
    background-color: rgba(68, 68, 68, .7);
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.rotating-ball {
    position: absolute;
    top: 50%;
    left: 50%;
}

.rotating-ball:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    top: -50px;
    left: -50px;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.rotating-ball.red:before {
    background-color: rgb(255, 0, 0) !important;
}

.rotating-ball.green:before {
    background-color: rgb(0, 255, 0) !important;
    animation-delay: 0.25s;
}

.rotating-ball.blue:before {
    background-color: rgb(0, 0, 255) !important;
    animation-delay: 0.5s;
}


/* https://www.useragentman.com/blog/2013/03/03/animating-circular-paths-using-css3-transitions/ */

@keyframes spin {
    from {
        transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}
